beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.5
cloudscraper==1.2.58
colorama==0.4.4
cryptography==3.4.8
DateTime==4.3
idna==3.2
pathlib==1.0.1
pickle5==0.0.11
pycparser==2.20
pyparsing==2.4.7
pytz==2021.1
requests==2.26.0
requests-toolbelt==0.9.1
soupsieve==2.2.1
termcolor==1.1.0
urllib3==1.26.6
uuid==1.30
zope.interface==5.4.0
